$primary-color: #fff8e1;
$bord-color: rgb(77, 77, 77);
.button {
  color: $primary-color;
  background-color: rgb(107, 107, 107);
  width: 90%;
  border: none;
  height: 30px;
  border-radius: 10px;
  margin: 5px;
  outline: none;
  font-size: 1.1em;
  font-family: "Lato", sans-serif;
}
.button:hover {
  color: black;
  background: radial-gradient(circle at center, #f1e3bb 5%, #a79076 95%);
}
.button:active {
  font-size: 1.2em;
}
