$primary-color: #fff8e1;
.head {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  background-color: rgb(41, 41, 41);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 15px 3%;
  height: 110px;
  background: radial-gradient(
    circle at center,
    rgba(104, 104, 104, 0.816),
    #2222228a
  );
  .noticearea {
    position: absolute;
    right: 10px;
    width: 320px;
    top: 90px;
    z-index: 200;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(20, 20, 20, 0.561);
    backdrop-filter: blur(10px);
    height: 80vh;
    box-shadow: 0 0 5px rgb(66, 66, 66);
    overflow: auto;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: 0.3s ease-in-out;

    button {
      color: rgb(143, 143, 143);
      background-color: transparent;
      border: none;
    }
    button:hover {
      color: $primary-color;
    }
  }
  .noticeshow {
    transform: scaleX(1);
    transition: 0.3s ease-in-out;
  }
  .userinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    max-width: 300px;
    word-wrap: break-word;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 90px;
    color: $primary-color;
    font-size: 1.2em;
    z-index: 200;
    height: 18vh;
    background-color: rgba(20, 20, 20, 0.561);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(66, 66, 66);
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: 0.3s ease-in-out;
  }
  .userinfoshow {
    transform: scaleX(1);
    transition: 0.3s ease-in-out;
  }
  .left {
    display: flex;
    align-items: center;
    grid-column: 1/2;
  }
  .middle {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      border: none;
      text-align: center;
      background-color: transparent;
      font-size: 2em;
      color: $primary-color;
      grid-column: 2/3;
      align-self: center;
    }
    h1 {
      padding: 3px;
      grid-column: 2/3;
      align-self: center;
      font-size: 2em;
      text-align: center;
      color: $primary-color;
    }
    select {
      margin-top: 5px;
      color: white;
      letter-spacing: 2px;
      border: none;
      font-size: 1.2em;
      text-align-last: center;
      background: transparent;
      border-radius: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
    }
    option {
      background-color: black;
    }
    img {
      width: 80px;
    }
  }
  .right {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    grid-column: 3/4;
    transform: scale(0.8);
    img {
      height: 2.2em;
      margin-right: 16px;
    }
    .notice {
      position: relative;
      cursor: pointer;
      .noticenum {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-5px, -5px);
        background-color: rgb(219, 68, 68);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
    .user {
      align-self: end;
      width: 40px;
      height: 40px;
      border: 2px solid $primary-color;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      h1 {
        display: block;
        color: $primary-color;
        font-size: 2em;
      }
      h1:hover {
        width: 100%;
        color: $primary-color;
        animation: gradient 5s ease infinite;
      }
    }
    .user:hover {
      background-color: rgba(27, 27, 27, 0.787);
    }
    @keyframes gradient {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
  }
}
