$primary-color: #fff8e1;
.head {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  background-color: rgb(41, 41, 41);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 110px;
  background: radial-gradient(circle at center, #3a3a3a, #222222);
  .left {
    display: flex;
    align-items: center;
    grid-column: 1/2;
  }
  .middle {
    justify-self: center;
    h1 {
      grid-column: 2/3;
      align-self: center;
      font-size: 2em;
      text-align: center;
      color: $primary-color;
    }
    img {
      width: 80px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-self: end;
    grid-column: 3/4;
    transform: scale(0.8);
    img {
      height: 2em;
      margin-right: 16px;
    }
    .notice {
      position: relative;
      .noticenum {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-5px, -5px);
        background-color: rgb(219, 68, 68);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
    .user {
      align-self: end;
      width: 40px;
      height: 40px;
      border: 2px solid $primary-color;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      h1 {
        display: block;
        color: $primary-color;
        font-size: 2em;
      }
      h1:hover {
        width: 100%;
        color: $primary-color;
        animation: gradient 5s ease infinite;
      }
    }
    .user:hover {
      background-color: rgba(27, 27, 27, 0.787);
    }
    @keyframes gradient {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
  }
}
