$primary-color: #fff8e1;
.jobCard {
  margin: 5px auto;
  backdrop-filter: blur(10px);
  width: 100%;
  .jobitemOpen {
    grid-template-rows: 30px, 1fr;
    height: fit-content;
  }
  .jobitem {
    box-sizing: border-box;
    display: grid;
    min-height: 28px;
    grid-template-columns: 20% 20% 20% 30% 10%;
    grid-row: 30px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid #fbf0baa6;
    background-color: rgb(143, 143, 143);
    align-items: center;
    .jobname {
      width: 100%;
      text-align: center;
      margin-left: 5px;
      color: $primary-color;
      font-size: 1em;
      height: 1em;
    }
    input {
      width: 100%;
      text-align-last: center;
      margin-left: 5px;
      background-color: transparent;
      border: none;
      height: 1em;
      font-size: 1em;
      color: $primary-color;
      transform: translateY(-1px);
    }
    select {
      cursor: pointer;
      width: 100%;
      max-height: 22px;
      background: transparent;
      border: none;
      color: black;
      font-size: 1em;
      text-align-last: center;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    option {
      color: $primary-color;
      background-color: black;
    }
    .memberName {
      width: 100%;
      color: white;
      text-align: center;
      cursor: pointer;
    }
    .members {
      display: flex;
      width: 100%;
      overflow: hidden;
      justify-content: space-between;
      background-color: rgba(49, 49, 49, 0.931);
      grid-row: 2/3;
      grid-column: 1/6;
      .controler {
        width: 5%;
        background: linear-gradient(
          90deg,
          rgba(126, 126, 126, 0.404),
          rgba(0, 0, 0, 0)
        );
        border: none;
      }
      .controler:nth-child(3) {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0),
          rgba(126, 126, 126, 0.404)
        );
      }
      .controler:active {
        overflow: hidden;
        img {
          transform: (scale(1.1));
        }
      }
      .memberlist {
        box-sizing: border-box;
        padding: 5px;
        max-width: 90%;
        overflow-x: auto;
        display: flex;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0),
          rgba(31, 31, 31, 0.404),
          rgba(0, 0, 0, 0)
        );
        scroll-behavior: smooth;
        .memberCard {
          cursor: pointer;
          background-color: rgb(73, 73, 73);
          border: 1px solid $primary-color;
          border-radius: 15px;
          color: $primary-color;
          min-width: 120px;
          margin: 10px;
          height: 50px;
        }
        .memberCard:hover {
          background-color: rgb(122, 122, 122);
        }
      }
      .memberlist::-webkit-scrollbar {
        display: none;
      }
    }
    .editDate {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-height: 22px;
      background-color: transparent;
      border: none;
      color: $primary-color;
      letter-spacing: 3px;
      font-size: 1em;
      text-align: end;
    }
    @media only screen and (max-width: 768px) {
      .editDate {
        text-align: center;
        font-size: 1em;
      }
    }
    @media only screen and (max-width: 425px) {
      .editDate {
        h1 {
          display: none;
        }
      }
    }
    .date {
      margin: 5px auto;
      width: 100%;
      max-width: 500px;
      background-color: rgba(153, 153, 153, 0.52);
      background-color: rgb(85, 85, 85);
      grid-row: 2/3;
      grid-column: 1/6;
      button {
        width: 20%;
        min-width: 120px;
        color: $primary-color;
        background: rgba(117, 117, 117, 0.609);
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 3px;
        cursor: pointer;
      }
      button:hover {
        background-color: rgba(61, 61, 61, 0.582);
      }
    }
    .btns {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      overflow: hidden;
      height: 100%;
      .commentshow {
        padding: 5px;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 10px;
        }
      }
      .opencontrol {
        width: 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: translate(1px);
        height: 25px;
        background-color: $primary-color;
        position: absolute;
        right: 0;
      }
      .closecontrol {
        background-color: rgb(39, 39, 39);
      }
      .delete {
        width: 60px;
        position: absolute;
        right: -59px;
        height: 25px;
        transition: 1s;
        border: none;
        background-color: rgb(92, 92, 92);
        color: $primary-color;
      }
      .opendelete {
        width: 60px;
        position: absolute;
        right: 9px;
        height: 25px;
        transition: 1s;
        border: none;
        color: $primary-color;
        background-color: rgb(109, 20, 20);
      }
    }
  }

  .ondrag {
    box-shadow: 5px 15px 15px black;
    border: 1px solid $primary-color;
  }
}
