$primary-color: #fff8e1;
$projectarea: linear-gradient(#2c2c2cda 5%, #1f1f1fc4 50%);
.project {
  min-height: 100vh;
  background-image: url("../images//pexels-photo-4604566.jpg");
  .nav {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    background-color: rgba(46, 38, 26, 0.705);
    backdrop-filter: blur(3px);
    position: relative;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    button {
      font-size: 1.1em;
      color: $primary-color;
    }
    nav {
      display: flex;
      justify-content: space-evenly;
      width: 25%;
      transform: translate(-25px);
      .navbutton {
        width: 80%;
        background-color: transparent;
        border: none;
        padding: 0px 15px 0px 15px;
        border-right: 1px solid $primary-color;
        margin-right: 5px;
        cursor: pointer;
      }
      .navbutton:hover {
        font-size: 1.3em;
      }
      .navbutton:last-child {
        border: none;
      }
    }
    .rightnav {
      width: 10%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .memberbutton:hover {
        transform: scale(1.1);
      }
      .showmember {
        position: relative;

        .memberList {
          display: flex;
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(0px, 40px);
          background-color: rgba(41, 41, 41, 0.863);
          border-radius: 15px;
          border: 1px solid $primary-color;
          color: white;
          z-index: 15;
        }
      }
      .showdele {
        background-color: transparent;
        border: none;
        .ball {
          margin: 3px;
          border-radius: 50%;
          width: 3px;
          height: 3px;
          background-color: $primary-color;
        }
      }
    }
  }
  .projectlist {
    box-sizing: border-box;
    display: flex;
    max-width: 100vw;
    min-width: 500px;
    overflow-x: auto;
    min-height: calc(95vh - 110px);
    height: 100%;
    background: $projectarea;
    .projects {
      display: flex;
      max-width: 100%;
      overflow-x: auto;
    }
    .taskdetail {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100vh;
      backdrop-filter: blur(3px);
      background-color: rgba(0, 0, 0, 0.863);
      z-index: 500;
    }
  }
  .delete {
    width: 100vw;
    height: 100vh;
    background-color: rgba(32, 32, 32, 0.342);
    backdrop-filter: blur(5px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .deletannounce {
      width: 40vw;
      height: 40vh;
      min-width: 320px;
      min-height: 240px;
      background-color: rgba(151, 151, 151, 0.678);
      border-radius: 15px;
      position: relative;
      .announce {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 15px;
        background-color: rgb(194, 62, 62);
        h1 {
          color: white;
          font-size: 2em;
          margin-bottom: 5px;
        }
        p {
          color: white;
          font-size: 1.5em;
        }
      }
      .confirm {
        padding: 15px;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .confirmannounce {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          p {
            font-size: 1.2em;
            color: black;
            margin-right: 5px;
          }
          h2 {
            font-weight: bold;
          }
        }
        input {
          width: 40%;
          font-size: 1.2em;
          height: 2em;
          padding: 5px;
          border-radius: 15px;
          border: none;
          background-color: rgb(182, 182, 182);
        }
      }
      .delelink {
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 30%;
        padding: 5px;
        button {
          border-radius: 15px;
          width: 100%;
          border: none;
          font-size: 1.3em;
          cursor: pointer;
        }
        .avaliable {
          background-color: white;
        }
        .disable {
          background-color: rgb(175, 175, 175);
          color: gray;
        }
      }
    }
  }
}
.memberbutton {
  display: flex;
  background-color: transparent;
  border: none;
  img {
    height: 25px;
  }
}
