$primary-color: #fff8e1;
$bord-color: rgb(77, 77, 77);
.projectCard {
  width: 23%;
  max-width: 350px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 25px;
  background: radial-gradient(circle at center, #3a3a3a, #222222);
  margin: 5px;
  cursor: pointer;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $primary-color;
    font-size: 1.5em;
  }
}

.projectCard:hover {
  border: 1px solid $primary-color;
  background: radial-gradient(circle at center, #4b4b4b, #222222);
}
