.projectCard {
  font-size: 2em;
  color: antiquewhite;
  min-width: 250px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.616);
  margin: 5px;
  border-radius: 15px;
  border: 1px solid antiquewhite;
}
