.project {
  display: flex;
  max-width: 1920;
  min-width: 500px;
  overflow-x: auto;
}

.open {
  width: 500px;
  height: 500px;
  position: fixed;
  background-color: green;
  display: block;
}
.close {
  display: none;
}
