.nice-dates-navigation,
.nice-dates-day,
.nice-dates-week-header_day {
  color: #e7e7e7 !important;
}
.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 480px;
  transition: none;
}
.nice-dates-day.-outside {
  color: rgba(189, 189, 189, 0.863) !important;
}
.nice-dates-day:before {
  background-color: #000000;
  border: 2px solid #fff8e1;
}
