$primary-color: #fff8e1;
.list {
  box-sizing: border-box;
  min-width: 200px;
  width: 200px;
  border: 1px solid $primary-color;
  padding: 10px;
  margin: 15px 5px;
  height: fit-content;
  min-height: 20px;
  border-radius: 15px;
  align-items: center;
  background-color: rgba(185, 185, 185, 0.308);
  color: $primary-color;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  .listDetail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    height: fit-content;
    position: relative;

    .listname {
      width: 90%;
      height: fit-content;
      word-wrap: break-word;
      font-size: 1.3em;
      color: #fff8e1;
      padding: 4px 0 4px 0;
    }
    .editname {
      position: absolute;
      right: 0;
      display: flex;
      button {
        margin: 2px;
        width: 50%;
        color: $primary-color;
        background: rgb(117, 117, 117);
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 4px;
        cursor: pointer;
      }
    }
    .editbutton {
      display: flex;
      width: 12%;
      height: 20px;
      justify-content: space-around;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      align-items: center;
      div {
        width: 3px;
        height: 3px;
        background-color: gray;
        border-radius: 50%;
      }
    }
    .editbutton:hover {
      div {
        background-color: $primary-color;
      }
    }

    input {
      width: 90%;
      font-size: 1.3em;
      color: #fff8e1;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
    }
  }
  .displayzone {
    .addtaskinfo {
      padding: 5px;
      width: 95%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      background-color: gray;
      border-radius: 5px;
      input {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: rgb(78, 78, 78);
        border: none;
      }
      input::-webkit-input-placeholder {
        color: rgba(161, 161, 161, 0.575);
      }
      select {
        background-color: rgb(78, 78, 78);
        color: white;
      }
      .addbutton {
        width: 100%;
        display: flex;
        button {
          margin: 2px;
          width: 50%;
          color: $primary-color;
          background: rgba(117, 117, 117, 0.609);
          border: 1px solid $primary-color;
          border-radius: 5px;
          padding: 3px;
          cursor: pointer;
        }
        button:hover {
          background-color: rgba(61, 61, 61, 0.582);
        }
      }
    }
    .addtasks {
      width: 80%;
      width: 100%;
      border: none;
      text-align: left;
      padding-left: 5px;
      font-size: 0.8em;
      background-color: transparent;
      color: rgb(180, 180, 180);
    }
    .addtasks:hover {
      color: $primary-color;
    }
  }
}
.list:hover {
  background-color: rgba(197, 197, 197, 0.363);
  transition: 0.1s;
}
