$primary-color: #fff8e1;
$bord-color: #69a8d3;

.taskboard {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
    width: 100%;
    font-size: 2em;
    color: $primary-color;
    margin-bottom: 15px;
  }
  .title {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 5px;
    h2 {
      font-size: 1.5em;
      display: block;
      width: 100%;
      text-align: center;
      padding: 5px;
    }
  }
  .taskdetail {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-bottom: 1px solid $primary-color;
    background-color: rgba(46, 46, 46, 0.438);
    padding: 10px 5px;
    h2 {
      font-size: 1.2em;
      display: block;
      width: 100%;
      text-align: center;
      padding: 5px;
    }
  }
}
