@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
$primary-color: #fff8e1;
.app {
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  @media only screen and (max-width: 768px) {
    video {
      width: 160%;
      left: 50%;
      top: 50%;
      transform: scale(1.2) translate(-30%, -35%);
    }
  }
  @media only screen and (max-width: 425px) {
    video {
      width: 160%;
      left: 50%;
      top: 50%;
      transform: scale(1.6) translate(-30%, -25%);
    }
  }
  @media only screen and (max-width: 375px) {
    video {
      width: 180%;
      left: 50%;
      top: 50%;
      transform: scale(1.6) translate(-30%, -25%);
    }
  }
  @media only screen and (max-width: 320px) {
    video {
      width: 197%;
      left: 50%;
      top: 50%;
      transform: scale(1.7) translate(-30%, -23%);
    }
  }
  .filter {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      45deg,
      rgba(88, 88, 88, 0),
      rgba(68, 68, 68, 0.63) 80%
    );
    z-index: 0;
  }
  @media only screen and (max-width: 425px) {
    filter {
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      background: linear-gradient(
        45deg,
        rgba(88, 88, 88, 0),
        rgba(68, 68, 68, 0.808) 80%
      );
      transform: translate(-50%, -50%);
    }
  }
  .header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    padding: 10px 30px;
    height: 10vh;
    background-color: rgba(14, 14, 14, 0.479);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid $primary-color;

    .btngroup {
      width: 10%;
      min-width: 300px;
      display: flex;
      justify-content: space-evenly;
      animation-duration: 1s;
      animation-name: moveleft;
      a {
        width: 50%;
      }
    }
    @media only screen and (max-width: 375px) {
      .btngroup {
        width: 10%;
        min-width: 200px;
        display: flex;
        justify-content: space-evenly;
        animation-duration: 1s;
        animation-name: moveleft;
        a {
          width: 50%;
        }
      }
    }
    @media only screen and (max-width: 375px) {
      .btngroup {
        width: 10%;
        min-width: 150px;
        display: flex;
        align-items: flex-end;
        animation-duration: 1s;
        animation-name: moveleft;
        a {
          width: 60%;
          button {
            font-size: 0.8em;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 425px) {
    .header {
      height: 15vh;
    }
  }
  .landing {
    height: calc(90vh - 1px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .branding {
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      height: 900px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .campaign {
        width: 40%;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 10;
        animation-duration: 1s;
        animation-name: moveup;

        .sologon {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          h1 {
            font-size: 5em;
            color: rgba(0, 0, 0, 0);
            line-height: 1.2em;
            font-family: "Abril Fatface", cursive;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $primary-color;
          }
          h2 {
            font-size: 3em;
            color: $primary-color;
            line-height: 1em;
            font-family: "Abril Fatface", cursive;
          }
          p {
            font-size: 1.2em;
            line-height: 2em;
            color: $primary-color;
            font-family: "Abril Fatface", cursive;
          }
        }

        a {
          width: fit-content;
          display: flex;
          justify-content: flex-start;
          margin-top: 15px;
          button {
            min-width: 200px;
            width: 30%;
            transform: scaleY(1.2);
          }
        }
      }
    }
    .footer {
      background-color: rgba(0, 0, 0, 0.774);
      box-sizing: border-box;
      display: flex;
      padding: 5px 15px;
      justify-content: space-between;
      align-items: center;
      z-index: 20;
      h3 {
        font-size: 1em;
        color: rgb(114, 114, 114);
      }
      .icon {
        height: 30px;
        width: 30px;
        background-image: url("../images//github.svg");
        background-size: cover;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .landing {
      .branding {
        width: 100%;
        padding: 0;
        .campaign {
          width: 80%;
          min-width: 500px;
          margin: 0 auto;
          align-items: center;
          padding: 25px;
          background-color: rgba(29, 29, 29, 0.513);
          backdrop-filter: blur(5px);
          border-radius: 15px;
          .sologon {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 425px) {
    .landing {
      height: calc(85vh - 1px);
      .branding {
        .campaign {
          min-width: 400px;
          margin: 0 auto;
          padding: 0;
          .sologon {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
              font-size: 3.5em;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 375px) {
    .landing {
      height: calc(85vh - 1px);
      .branding {
        .campaign {
          min-width: 375px;
          margin: 0 auto;
          border-radius: 0;
          padding: 10px;
        }
      }
    }
  }
  @media only screen and (max-width: 320px) {
    .landing {
      height: calc(85vh - 1px);
      .branding {
        .campaign {
          box-sizing: border-box;
          min-width: 320px;
          margin: 0 auto;
          border-radius: 0;
          .sologon {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
              font-size: 3em;
            }
          }
        }
      }
    }
  }
}

@keyframes moveup {
  from {
    transform: translateY(600px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveleft {
  from {
    transform: translateX(600px);
  }
  to {
    transform: translateX(0);
  }
}
