@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
$primary-color: #fff8e1;
.app {
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  @media only screen and (max-width: 768px) {
    video {
      width: 160%;
      left: 50%;
      top: 50%;
      transform: scale(1.2) translate(-30%, -35%);
    }
  }
  @media only screen and (max-width: 425px) {
    video {
      width: 160%;
      left: 50%;
      top: 50%;
      transform: scale(1.6) translate(-30%, -25%);
    }
  }
  @media only screen and (max-width: 375px) {
    video {
      width: 180%;
      left: 50%;
      top: 50%;
      transform: scale(1.6) translate(-30%, -25%);
    }
  }
  @media only screen and (max-width: 320px) {
    video {
      width: 197%;
      left: 50%;
      top: 50%;
      transform: scale(1.7) translate(-30%, -23%);
    }
  }
  .header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
    height: 10vh;
    background-color: rgba(14, 14, 14, 0.671);
    .headwrap {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 200px;
      }
      .btngroup {
        width: 15%;
        min-width: 150px;
        display: flex;
        justify-content: space-evenly;

        a {
          width: 50%;
        }
      }
      @media only screen and (max-width: 425px) {
        .btngroup {
          width: 10%;
          min-width: 150px;
          display: flex;
          align-items: flex-end;

          a {
            width: 60%;
            button {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
  .landing {
    height: calc(90vh - 1px);
    width: 100%;
    background-color: rgba(44, 44, 44, 0.671);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .sologon {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 50vh;
      justify-content: space-evenly;
      animation-duration: 1s;
      animation-name: moveleft;
      margin-bottom: 150px;
      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 600px;
        h1 {
          width: 100%;
          display: block;
          width: 100%;
          font-size: 6em;
          color: $primary-color;
          font-family: "Playfair Display", serif;
        }
        h2 {
          width: 100%;
          font-size: 4em;
          margin-top: 15px;
          margin-left: 10px;
          font-family: "Playfair Display", serif;
          color: $primary-color;
        }
        h3 {
          width: 90%;
          font-size: 1.6em;
          margin-top: 30px;
          margin-left: 15px;
          line-height: 40px;
          color: white;
        }
      }
    }

    a {
      width: fit-content;
      margin-bottom: 45px;
      button {
        min-width: 200px;
        margin-left: 10px;
        border-radius: 5px;
        padding: 15px;
        text-align: center;
        font-size: 1.2em;
        color: white;
        background-color: rgb(88, 88, 88);
      }
      button:hover {
        background-color: $primary-color;
        color: black;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    box-sizing: border-box;
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    h3 {
      font-size: 0.8em;
      color: rgb(114, 114, 114);
    }
    .icon {
      height: 30px;
      width: 30px;
      background-image: url("../images//github.svg");
      background-size: cover;
    }
  }
  @media only screen and (max-width: 768px) {
    .landing {
      .branding {
        width: 100%;
        padding: 0;
        .campaign {
          width: 100%;
          min-width: 500px;
          margin: 0 auto;
          align-items: center;
          padding: 25px;
          background-color: rgba(29, 29, 29, 0.513);
          backdrop-filter: blur(5px);
          .sologon {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 425px) {
    .landing {
      height: calc(85vh - 1px);
      .branding {
        .campaign {
          min-width: 400px;
          margin: 0 auto;
          padding: 0;
          .sologon {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
              font-size: 3.5em;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 375px) {
    .landing {
      height: calc(85vh - 1px);
      .branding {
        .campaign {
          min-width: 375px;
          margin: 0 auto;
          border-radius: 0;
          padding: 10px;
        }
      }
    }
  }
  @media only screen and (max-width: 320px) {
    .landing {
      height: calc(85vh - 1px);
      .branding {
        .campaign {
          box-sizing: border-box;
          min-width: 320px;
          margin: 0 auto;
          border-radius: 0;
          .sologon {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
              font-size: 3em;
            }
          }
        }
      }
    }
  }
}

@keyframes moveleft {
  from {
    transform: translateX(600px);
  }
  to {
    transform: translateX(0);
  }
}
